spring:
  application:
    name: UCE-Trade
  
  datasource:
    url: jdbc:postgresql://localhost:5433/uce_trade_db
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: localhost
      port: 6379
  
  mail:
    host: smtp.office365.com 
    port: 587
    username: ${MAIL_USERNAME} 
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

stripe:
  secret: ${STRIPE_API_KEY:clave_no_encontrada}

server:
  port: 8080