spring:
  application:
    name: UCE-Trade
  
  datasource:
    url: jdbc:postgresql://localhost:5433/uce_trade_db
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: localhost
      port: 6379

  # SOLO LA SECRETA AQUÍ
  stripe:
    secret: sk_test_TU_CLAVE_SECRETA_AQUI
    # La pública bórrala de aquí, la pegaremos en React.

server:
  port: 8080